{% load static %}
{% load qr_code %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="{% static 'form/main.css' %}">
 -->
<!------ Include the above in your HEAD tag ---------->


<div class="row pl-5 mt-2">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
</div>   


<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
</div>   
<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
</div>   


<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-3">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/btc.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eth.png"/>
    </div>
</div>   
<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>
    </div>
</div>   
<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/xrp.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/nano.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/nano.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/nano.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/nano.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eos.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eos.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eos.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eos.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eos.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eos.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eos.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eos.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/eos.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-5">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/dai.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ada.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/atom.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/bch.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/bch.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/bch.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/bch.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/bch.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/bch.png"/>
    </div>
</div>   

<div class="row pl-5 pt-3 mt-4 ">
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/ltc.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/doge.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/doge.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/omg.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/omg.png"/>

    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/qtum.png"/>
 
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/qtum.png"/>
    </div>
    <div class ="col">
        <img src="http://127.0.0.1:8000/media/logo_pics/waives.png"/>
    </div>
</div>   