{% load static %}
{% load qr_code %}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 -->
<!--  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 --><!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 -->
 <link rel="stylesheet" type="text/css" href="{% static '/wallet/css/bootstrap.min.css' %}">



<!-- <link rel="stylesheet" type="text/css" href="{% static 'form/main.css' %}">
 -->
<!------ Include the above in your HEAD tag ---------->

<div class="row  ">
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center d-flex justify-content-center">{% qr_from_text private__1 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center d-flex justify-content-center">{% qr_from_text address__1 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center d-flex justify-content-center">{% qr_from_text private__2 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center d-flex justify-content-center">{% qr_from_text address__2 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center d-flex justify-content-center">{% qr_from_text private__3 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center d-flex justify-content-center">{% qr_from_text address__3 size=8 %}</div>
    </div>
</div>   
<!-- <small>
<div class="row mt-4">
        <div class="col">SECRET 1: {{private__1}}</div>
        <div class="col-5">ADDRESS 1: {{address__1}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 2: {{private__2}}</div>
        <div class="col-5">ADDRESS 2: {{address__2}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 3: {{private__3}}</div>
        <div class="col-5">ADDRESS 3: {{address__3}}</div>
</div>
</small> -->
<div class="row  mt-2 pt-5  ">
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__4 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__4 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__5 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__5 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__6 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__6 size=8 %}</div>
    </div>

</div>   
<!-- <small>
<div class="row mt-4">
        <div class="col">SECRET 4: {{private__4}}</div>
        <div class="col-5">ADDRESS 4: {{address__4}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 5: {{private__5}}</div>
        <div class="col-5">ADDRESS 5: {{address__5}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 6: {{private__6}}</div>
        <div class="col-5">ADDRESS 6: {{address__6}}</div>
</div>
</small> -->
<div class="row  mt-2 pt-5 ">
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__7 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__7 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__8 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__8 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__9 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__9 size=8 %}</div>
    </div>

</div>   
<!-- <small>
<div class="row mt-4">
        <div class="col">SECRET 7: {{private__7}}</div>
        <div class="col-5">ADDRESS 7: {{address__7}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 8: {{private__8}}</div>
        <div class="col-5">ADDRESS 8: {{address__8}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 9: {{private__9}}</div>
        <div class="col-5">ADDRESS 9: {{address__9}}</div>
</div>
</small> -->
<div class="row  mt-2 pt-5 ">
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__10 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__10 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__11 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__11 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__12 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__12 size=8 %}</div>
    </div>

</div>  
<!-- <small>
<div class="row mt-4">
        <div class="col">SECRET 10: {{private__10}}</div>
        <div class="col-5">ADDRESS 10: {{address__10}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 11: {{private__11}}</div>
        <div class="col-5">ADDRESS 11: {{address__11}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 12: {{private__12}}</div>
        <div class="col-5">ADDRESS 12: {{address__12}}</div>
</div>
</small>  -->
<div class="row  mt-5 pt-5 ">
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__13 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__13 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__14 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__14 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__15 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__15 size=8 %}</div>
    </div>

</div>   

<!-- <small>
<div class="row mt-4">
        <div class="col">SECRET 13: {{private__13}}</div>
        <div class="col-5">ADDRESS 13: {{address__13}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 14: {{private__14}}</div>
        <div class="col-5">ADDRESS 14: {{address__14}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 15: {{private__15}}</div>
        <div class="col-5">ADDRESS 15: {{address__15}}</div>
</div>
</small> -->
<div class="row  mt-2 pt-5 ">
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__16 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__16 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__17 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__17 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__18 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__18 size=8 %}</div>
    </div>
</div>   

<!-- <small>
<div class="row mt-4">
        <div class="col">SECRET 16: {{private__16}}</div>
        <div class="col-5">ADDRESS 16: {{address__16}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 17: {{private__17}}</div>
        <div class="col-5">ADDRESS 17: {{address__17}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 18: {{private__18}}</div>
        <div class="col-5">ADDRESS 18: {{address__18}}</div>
</div>
</small> -->
<div class="row  mt-2 pt-5 ">
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__19 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__19 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__20 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__20 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__21 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__21 size=8 %}</div>
    </div>
</div>   

<!-- <small>
<div class="row mt-4">
        <div class="col">SECRET 16: {{private__16}}</div>
        <div class="col-5">ADDRESS 16: {{address__16}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 17: {{private__17}}</div>
        <div class="col-5">ADDRESS 17: {{address__17}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 18: {{private__18}}</div>
        <div class="col-5">ADDRESS 18: {{address__18}}</div>
</div>
</small> -->
<div class="row  mt-2 pt-5 ">
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__22 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__22 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__23 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__23 size=8 %}</div>

    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text private__24 size=8 %}</div>
    </div>
    <div class ="col">
        <div class="bottom-left d-flex justify-content-center">{% qr_from_text address__24 size=8 %}</div>
    </div>
</div>   

<!-- <small>
<div class="row mt-4">
        <div class="col">SECRET 16: {{private__16}}</div>
        <div class="col-5">ADDRESS 16: {{address__16}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 17: {{private__17}}</div>
        <div class="col-5">ADDRESS 17: {{address__17}}</div>
</div>
<div class="row mt-2">
        <div class="col">SECRET 18: {{private__18}}</div>
        <div class="col-5">ADDRESS 18: {{address__18}}</div>
</div>
</small> -->